/*index*/

html {
    background: linear-gradient(rgb(231, 112, 0) 10%, rgb(65, 177, 0) 50%, rgb(174, 0, 255)) 50%;
}

.jdt {
    border-radius: 1rem;
    width: 18rem;
}

.jdt:hover {
    transition: 0.4s;
    filter: saturate(270%);
}

.promo {
    border-radius: 1rem;
    margin-top: 1rem;
    width: 100%;
}


.img:hover {
    transition: 0.4s;
    width: 100%;
    height: 100%;
}


hr {
    margin-left: 0;
    width: 99.5%;
    height: 2rem;
    border: 0;
    height: 0;
    box-shadow: 0 0 7px 1px rgb(0, 0, 0)
}

.liencolor {
    color: rgb(255, 102, 0)
}

.liencolor:hover {
    transition: .4s;
    color: blueviolet;
}

ul {
    display: flex;

}

li {
    list-style-type: none;
    margin-top: 1.1rem;
    margin-inline: 1rem;
}


.img {
    margin-right: 10px;
    border-radius: 1rem;
    width: 100px;
    height: 100px;
    filter: drop-shadow(2px 2px 4px rgb(0, 0, 0));
}

.barnoir {
    border-radius: 1rem;
    background-color: black;
    height: 4rem;
}

@media screen and (max-width: 768px) {


    html{
        transition: 1.5s;
        font-size : small;
        }
    
     ul {
         margin-right: 7%;
         transition: 1.5s;
         text-align: center;
         flex-direction: column;
         padding-bottom: 1rem;
        }
    
    .barnoir {
         height: auto;
        }

h1{
    text-align: center;
}





}