/*index*/

html  {
    background: linear-gradient(rgb(231, 112, 0) 10%,  rgb(65, 177, 0) 50%, rgb(174, 0, 255)) 50%;
}

.jrdt {
    width: 18rem;
}

.barnoir {
    background-color: black;
    height: 4rem;
    border-radius: 1rem;

}

li {
    list-style-type: none;  /* supprime les pti points */
    margin-top: 1.1rem; 
    margin-inline: 1rem;
}

ul {
display: flex;
}


.liencolor {
    color: rgb(255, 102, 0);
}

.promo {
    border-radius: 1rem;
    margin-top: 1rem;
    width: 100%;
}