html {
    background: linear-gradient(rgb(231, 112, 0) 10%, rgb(65, 177, 0) 50%, rgb(174, 0, 255)) 50%;
}

#jardi {
    width: 18rem;
}

#jardi:hover {
    transition: 0.5s;
    filter: saturate(270%);
}

.jdt {
    display: grid;
    grid-template-columns: 1fr 50%;
}

.tlj {
    position: absolute;
    font-size: 2.1rem;
    color: blueviolet;

}

.tlj:hover {
    filter: saturate(200%);
}

#promo {
    border-radius: 1em;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

#promo:hover {

    transition: 0.7s;
    border-radius: 10rem;
    filter: saturate(150%);

}


.barnoir {
    background-color: black;
    height: 4rem;
    border-radius: 1rem;
}


.liens {
    margin-inline: 1rem;
    color: rgb(255, 102, 0);

}

.liens:hover {
   
    transition: .4s;
    color: blueviolet;
}

.accueil {
    font-size: 2.5rem;

}

hr {
    margin-left: 0;
    width: 99.5%;
    height: 2rem;
    border: 0;
    height: 0;
    box-shadow: 0 0 7px 1px rgb(0, 0, 0)
}

.para {
    font-size: 1rem;
    line-height: 1cm;

}

.toutletexte {
    width: 70%;
}

section {
    display: flex;

}

.colone {
    margin: auto;
    width: 30%;
    border-radius: 1rem;
    background-color: rgb(133, 133, 133, 0.5);
    height: 40rem;
}

.colone:hover {
    background-color: rgb(133, 133, 133, 1);
}

.textecolonne {
    margin-left: 4%;

}

ul {
    display: flex;
    list-style-type: none;
}

li {
    margin-top: 1.1rem;
}

@media screen and (max-width: 768px) {
  
.colone{

    display: none;
}

html{
transition: 1.5s;
    font-size : small;
 }

 ul {
    transition: 1.5s;
    text-align: center;
    flex-direction: column;
    padding-bottom: 1rem;
 }
 
 .toutletexte {
    transition: 1.5s;
 width: 100%;
  
 }

.tlj {
    transition: 1.5s;
    font-size: 16px;
}

.barnoir {
    transition: 1.5s;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.liens:hover {
  
   
}


   }