/*index*/

html  {
    background: linear-gradient(rgb(231, 112, 0) 10%,  rgb(65, 177, 0) 50%, rgb(174, 0, 255)) 50%;
}

.jdt {
    border-radius: 1rem;
    width: 18rem;
}

.promo {
    border-radius: 1rem;
    margin-top: 1rem;
    width: 100%;
}


hr {
    margin-left: 0;
    width: 99.5%;
    height: 2rem;
    border: 0;
    height: 0; 
    box-shadow: 0 0 7px 1px rgb(0, 0, 0) 
}

.liencolor {
    color:rgb(255, 102, 0)
}

ul {
 display: flex;
 
}

li {
    list-style-type: none;  /* supprime les pti points */
    margin-top: 1.1rem; 
    margin-inline: 1rem;
}


.img {
    margin-right: 10px;
    border-radius: 1rem;
    width:100px;height:100px;
    filter: drop-shadow(2px 2px 4px rgb(0, 0, 0));   
}

.barnoir {
    border-radius: 1rem;
       background-color: black;
       height: 4rem;
   }
